<mat-card class="card-size">
  <mat-card-header> 
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>Proceso Contensioso</mat-card-title>
      <mat-card-subtitle>Bolivia</mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image src="/src/assets/Ordenamiento-juridico-Derecho-Constitucional.jpg">
  <mat-card-content>
      <p>
          El proceso contencioso administrativo es un medio para dar satisfacción
          jurídica a las pretensiones de la administración y de los administrados
          afectados en sus derechos por el obrar público. Tiene como finalidad el 
          control jurídico por el Poder Judicial de las actuaciones de la administración 
          pública sujetas al derecho administrativo y efectiva tutela de los derechos
          e intereses de los administrados.
      </p>
    </mat-card-content>
</mat-card>

<mat-card class="card-size2">
    <mat-card-header>
        <div mat-card-avatar class="example-header-image2"></div>
        <mat-card-title>Problema del Sistema</mat-card-title>
        <mat-card-subtitle>Introduccion</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
        <p>
                En Bolivia no existe un régimen normativo actualizado, 
                que regule de manera adecuada el proceso contencioso administrativo, 
                el mismo que se tramita en la actualidad, como un proceso recursivo 
                adicional contra el Estado.
        </p>
    </mat-card-content>
</mat-card>

<mat-card class="card-size3">
        <mat-card-header>
            <div mat-card-avatar class="example-header-image3"></div>
            <mat-card-title>Ordenamiento jurídico de un estado</mat-card-title>
            <!-- <mat-card-subtitle>Introduccion</mat-card-subtitle> -->
        </mat-card-header>
        <mat-card-content>
            <p>
                    El ordenamiento jurídico de un Estado, entre una de sus 
                    funciones principales tiene que proteger los integrantes 
                    del mismo, dándoles a estos los mecanismos de dicho propósito, 
                    es así que se da el proceso contencioso administrativo el mismo 
                    que resuelve los conflictos que se dan entre ciudadanos y el Estado,
                    el cual es el método idóneo para este fin, pero lastimosamente el régimen
                    normativo en el que se desarrolla no está actualizado, por lo que se da una 
                    incorrecta aplicación del mismo provocando perjuicios a los ciudadanos como al mismo Estado..
            </p>
        </mat-card-content>
    </mat-card>