.card-size {
    max-width: 700px;
    margin: 60px;
    /* position: absolute; */
    /* top:0; */
    /* left: 0; */
}
.example-header-image {
    background-image: url(/src/assets/1200px-Flag_of_Bolivia_\(state\).svg.png);
    background-size: cover;
}
.card-size2 {
    max-width: 300px;
    margin: 60px;
    position: absolute;
    top: 0;
    right: 0;
}
.example-header-image2 {
    background-image: url(/src/assets/Insegurança_17_10_ewe17.jpg);
    background-size: cover;
}
.card-size3 {
    max-width: 300px;
    margin: 60px;
    position: absolute;
    top: 200px;
    right: 0;
}
.example-header-image3 {
    background-image: url(/src/assets/downloawewd.jpeg);
    background-size: cover;
}