  <div class="example-container" [class.example-is-mobile]="mobileQuery.matches">
    <mat-toolbar color="primary" class="example-toolbar">
      <button mat-icon-button (click)="snav.toggle()"><mat-icon>menu</mat-icon></button>
      <h1 class="example-app-name">Procesos Contensiosos</h1>
      <span class="example-spacer"></span>
      <!-- <button mat-icon-button ><mat-icon class="example-icon">account_circle <a [routerLink]="[ '/login']"></a></mat-icon></button> -->
      <a [routerLink]="[ '/login']"> <mat-icon class="example-icon">account_circle</mat-icon></a>
    </mat-toolbar>
  
    <mat-sidenav-container class="example-sidenav-container"
                           [style.marginTop.px]="mobileQuery.matches ? 56 : 0">
      <mat-sidenav #snav [mode]="mobileQuery.matches ? 'over' : 'side'"
                   [fixedInViewport]="mobileQuery.matches" fixedTopGap="56">
        <mat-nav-list>
          <a mat-list-item routerLink="/inicio">Inicio</a>
          <a mat-list-item [routerLink]="[ '/definiciones']">Definiciones</a>
          <a mat-list-item [routerLink]="[ '/registro']">Registro</a>
          <!-- <a mat-list-item [routerLink]="[ '/usuarios']">Usuarios</a> -->
          <a mat-list-item [routerLink]="[ '/demanda']">Demanda</a>
          <a mat-list-item [routerLink]="['/tramites']">Tramites</a>
          <a mat-list-item routerLink=".">Audiencias</a>
          <a mat-list-item routerLink=".">Sentencias</a>
          <a mat-list-item routerLink=".">Recurso de Apelacion</a>
          <a mat-list-item routerLink=".">Recurso de Casacion</a>
          <a mat-list-item routerLink=".">Autosupremos</a>
        </mat-nav-list>
      </mat-sidenav>
      <mat-sidenav-content>
        <router-outlet></router-outlet>
      </mat-sidenav-content>
    </mat-sidenav-container>
  </div>